@page "/"
@using OrderToVectronPosition.IOneApi
@inject IIoneClient ioneClient


@code {
    private Task SendMasterdata(MouseEventArgs arg)
    {
        throw new NotImplementedException();
    }

    private Task ReadCategories(MouseEventArgs arg)
    {
        throw new NotImplementedException();
    }

    private async Task SubmitOrders(MouseEventArgs arg)
    {
        DateTime from = new DateTime(1970, 01, 01);
        DateTime to = DateTime.Now.AddYears(1);
        await ioneClient.GetOrdersAsync(from, to);
    }

}

<PageTitle>Index</PageTitle>

<h1>Ione Vectron Api</h1>

<button class="btn btn-primary"  @onclick="SendMasterdata">Stammdaten senden</button><br/>
<button class="btn btn-primary" style="margin-top: 10px"@onclick="ReadCategories">Kategorien einlesen</button><br/>
<button class="btn btn-primary" style="margin-top: 10px" @onclick="SubmitOrders">Bestellungen übertragen</button><br/>


